* {
  font-family: "Inter";
  font-style: normal;
}

.hero-h1 {
  font-weight: 500;
  font-size: 60px;
  line-height: 73px;
}

.hero-2 {
  background: url("../../images/Group.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
  position: relative;
}

.checkup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 44px;
  padding: 15px 30px;
  color: #ffffff;
  background-color: #642dff;
  border-radius: 5px;
  gap: 5px;
  position: absolute;
  bottom: 180px;
  left: -50px;
}
.icon {
  color: #ffffff;
}

.doctor {
  position: absolute;
  width: 229px;
  height: 133px;
  background: #ffffff;
  padding: 10px 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  bottom: 0;
  right: -45px;
}
.doctor-first-bg {
  width: 189px;
  height: 14px;
  background: linear-gradient(
    90deg,
    rgba(45, 137, 255, 0.57) 0%,
    rgba(45, 137, 255, 0) 100%
  );
  border-radius: 50px;
}
.doctor-second-bg {
  width: 189px;
  height: 14px;
  background: linear-gradient(
    90deg,
    rgba(45, 137, 255, 0.3) 0%,
    rgba(45, 137, 255, 0) 100%
  );
  border-radius: 50px;
}

@media only screen and (max-width: 480px) {
  .hero-h1 {
    font-weight: 400;
    font-size: 45px;
    line-height: 73px;
  }
  .hero-card {
    margin: 10px;
  }
  .hero-2 {
    margin: auto;
    height: 200px;
    width: 200px;
    position: relative;
  }
  .checkup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 44px;
    font-weight: normal;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #642dff;
    border-radius: 5px;
    gap: 5px;
    position: absolute;
    bottom: 100px;
    left: -50px;
  }

  .doctor {
    position: absolute;
    width: 229px;
    height: 70px;
    background: #ffffff;
    padding: 10px 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    bottom: 0;
    right: -60px;
  }
}
